body {
	margin: 0 auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-image: url(../images/psychic-img.jpeg);
	background-size: 100%;
}

.container {
	width: 50%;
	height: 250px;
	margin: 400px;
	margin-top: 20px;
	background-color: rgb(2, 44, 82);
	border: 2px solid rgb(180, 3, 18);
	color: white;
}

h1 {
	font-size: 25px;
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
}
.content-div {
	margin-left: 20px;
}
p {
	font-size: 24px;
	width: 300px;
	line-height: 40px;
}