body {
	margin: 0 auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-image: url(../images/blue-sky-gradient.jpg);
	background-size: 100%;
}

.container {
	width: 60%;
	height: 60%;
	margin: 300px;
	margin-top: 20px;
	background-color: rgb(2, 44, 82);
	border: 2px solid rgb(251, 250, 251);
	color: white;
}

h1 {
	font-size: 25px;
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
}
.content-div {
	margin-left: 20px;
	width: 50%;
	height: 35%;
}
p {
	font-size: 24px;
	width: 400px;
	line-height: 60px;
}